/* main colors */
$body-bg              :     #f9f6f0;
$body-text            :     #333;
$body-text-inverse    :     #f9f6f0;

/* nav colors */
$nav-link             :     #c9c8c8;
$nav-link-hover       :     #f9f6f0;
$nav-link-active      :    #f9f6f0;

/* cover text */
$nav-link             :     #c9c8c8;
$nav-link-hover       :     #f9f6f0;
$nav-link-active      :    #f9f6f0;
