/* artylope colors */
$arty-blue            :    #2b31b4;
$arty-yellow          :    #ffe55e;
$arty-coral           :    #fcbbbb;
$arty-dark            :    #30343b;
$arty-white           :    #eeeeee;
$arty-grey           :     #737373;


/* typography colors */
$text-primary         :    'EB Garamond', serif;
$text-heading         :    'Montserrat', sans-serif;

/* main colors */
$body-bg              :     $arty-white;
$body-text            :     $arty-dark;
$body-text-inverse    :     $arty-white;
$heading-color        :     $arty-blue;

/* nav colors */
$nav-link             :     $arty-coral;
$nav-link-hover       :     lighten($arty-white,15%);
$nav-link-active      :     lighten($arty-white,15%);
